<ion-view view-title="Configuración">
  <ion-content>
    
	  <div class="item item-toggle">
		  <span class="input-label">Seguimiento activo</span>
		  <label for="" class="toggle">
	  		<input type="checkbox">
	  		<div class="track">
	  			<div class="handle"></div>
	  		</div>
		  </label>
	  </div>

	   <label class="item item-input item-select">
    <div class="input-label">
      Seleccionar carrera
    </div>
    <select>
      <option>ITI</option>
      <option selected>LCC</option>
      <option>ICC</option>
    </select>
  </label>

  </ion-content>
</ion-view>
