<ion-view view-title="Selecciona tu carrera">
	<ion-content class="ima-propio">
	<div class="move-propio buttons-propio">	
		<a href="#/app/materias/ITI"><button class="button button-royal"> Ingeniería en Tecnologías de la información </button></a>
		<a href="#/app/materias/Lic"><button class="button button-royal" >Licenciatura en ciencias de la computación</button></a>
		<a href="#/app/materias/Ing"><button class="button button-royal">Ingeniería en ciencias de la computación</button>	</a>
	</div>

	</ion-content>
</ion-view>